<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.niko.tconnectprinter"
    android:versionCode="1"
    android:versionName="1.0">
    <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="23" />
    <uses-feature android:name="android.hardware.usb.host" android:required="true" />
    <application android:theme="@android:style/Theme.Material.Light.NoActionBar"
        android:label="TConnect Printer App"
        android:allowBackup="false">
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
